footer{
    background-color: whitesmoke;
    border-top: 1px solid black;
    padding: 1%;
    width: 100%;
    min-height: 30vh;
    
}
footer .up{
    display: flex;
    justify-content: space-around;
}
footer .up .up_item a{
    font-size: 1rem;
    display: block;
}
footer .up .up_item img{
    width: 100px;
    height: 100px;
}
footer .down{
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:900px) {
    footer .up .up_item a{
        font-size: 0.8rem;
        margin: 2vw;
    }
}